
.header {
    justify-content: center;
    width: auto;
    padding: 0 auto;
    background-image: linear-gradient(#1A1713,#544C3F);
    border-radius: 25px 15px 0 0;
}
  
.Navbar {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   padding: 50px 10% 20px 10%;
   gap: 50px;
   border-radius: 25px;}

.link {
    padding: 0 10px;
    max-width: 100px;

}

.logo_image {
    max-width: 500px;
    max-height: 100px;
    border: 5px solid white;
    border-radius: 25px;
}

.maincontainer {  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px 10% 50px 10%;
}
  
.maintext { 
    max-width: 400px;
    height: auto;
    justify-content: start;
    background-color: #D1CBC1;
    padding: 20px;
    border-radius: 25px;
    border: 5px solid #FCFCFC ;
  }


.maintext h1{
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
    }

.maintext div{
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
    }

.main_image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border:#544C3F ;
}

.main_text {
    font-family: 'Indie Flower', cursive;
    font-size: 48px;
    font-weight: bolder;
    color:rgb(7, 0, 0);}    


.flex-container_random {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #BBB2A4;
    height: auto;
    width:auto;
    padding-top: 20px;
    padding-bottom: 20px;

    } 
.flex-container_random h2 {
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
}

.flex-container_random_images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap:10px;
    }

.imagebox {
    justify-content: center;
    align-items: center;
    height:300px;
    width:300px;
    border: 5px solid #FCFCFC;
    font-weight: bold;
    padding: 2.5%;
   
}

.images {
    height: 200px;
    width: 200px;
}

.imagebox h6 {
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
    }

.quote.container{
    display: flex;
    flex-direction: row;
}

.actualquote {
    font-style: italic;
    font-size: 36px;
    background-color: #544C3F;
    color: #FCFCFC;
    text-align: center;
    padding: 40px 25%;
}
.author {
    font-size: 20px;
    color: #FCFCFC;
    background-color: #544C3F;
    text-align: end;
    padding-right: 25%;
    font-style: italic;
    padding-bottom: 50px;
}

.actionbox {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 60px 15%;
    background-color: #1A1713 ;
    height: 150px;
    padding: 1% 10%;
    color: #FCFCFC;
}
.calltoaction {
    width: 500px;
    height: 50px;
}

.calltoactionbutton button{
    transition-duration: 0.4s;
}

.calltoactionbutton button:hover {
    background-color: rgb(72, 255, 0);
    color: purple;
    transition-duration: 0.5ms;
}